<nav class="flex flex-col md:flex-row justify-between items-center px-8 py-4 navFotCol">
    <div class="w-full flex justify-between">
        <h1 class="text-2xl font-bold"><a href="#">SUBAH SOLU</a></h1>
        <span class="open-menu md:hidden text-3xl cursor-pointer" id="openMenu">☰</span>
        <span class="close-menu hidden md:hidden text-3xl cursor-pointer" id="closeMenu">&times;</span>
    </div>
    <ul class="menu hidden md:flex flex-col md:flex-row" id="menu">
        <li class="md:px-6 text-lg py-4 md:py-0"><a href="/">Students</a></li>
        <li class="md:px-6 text-lg py-4 md:py-0"><a href="/search">Search</a></li>
        <li class="md:px-6 text-lg py-4 md:py-0"><a href="/register">Register</a></li>
    </ul>
</nav>