<div class="loader fixed w-full h-screen flex items-center justify-center" style="overflow: hidden; background-color: #fff;">
    <span class="subah text-5xl font-bold mr-8 bounceInLeft">SUBAH</span>
    <span class="i text-5xl font-bold bounceInDown">I</span>
    <span class="t text-5xl font-bold mr-8 bounceInUp">T</span>
    <span class="solution text-5xl font-bold bounceInRight">SOLUTION</span>
</div>

<script src="/load.js"></script>